<h1>make a burger</h1>

<input class="order" type="text" name="" id="">

<button id="grill">
    Grill
</button>

<h1>These are the burgers</h1>

<h2>plate</h2>
{{#each burgers}}
{{#unless this.devoured}}
<h3 data-id={{this.id}}>{{this.burger_name}}</h3>
{{/unless}}
{{/each}}

<br>
<h2>BELLY</h2>
{{#each burgers}}
{{#if this.devoured}}
<h3 data-id={{this.id}}>{{this.burger_name}}</h3>
{{/if}}
{{/each}}

<script>
//when #grill gets clicked, send off a post request to "/", 

//in your callback, location.reload()

</script>