<h1>make a burger</h1>
<input class="order" type="text" name="" id="">
<h3 id="grill">GRILL IT</h3>

<h1>These are the burgers</h1>

<h2>plate</h2>
{{#each burgers}}
{{#unless this.devoured}}
<h3 data-id={{this.id}}>{{this.burger_name}}</h3>
{{/unless}}
{{/each}}
<h2>belly</h2>
{{#each burgers}}
{{#if this.devoured}}
<h3 data-id={{this.id}}>{{this.burger_name}}</h3>
{{/if}}
{{/each}}

<script>
//when #grill gets clicked, send off a post request to "/", 
//in your callback, location.reload()

</script>