
        <div class="card" style="width: 18rem;">
                <div class="card-header">
                  <h5>Name {{name}}</h5>  
                  <h6> Intern {{role}}</h6>
                </div>

                <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">ID: {{ id }}</li>
                  <li class="list-group-item">EMAIL: {{ email }}</li>
                  <li class="list-group-item">SCHOOL: {{ school }}</li>
                </ul>
                </div>
        </div>
