h1{
    background-color: rgb(90, 86, 86);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 30px;
}

.cityinfo{
   
   background-color: rgb(245, 247, 248);
   
}

.searchbutton{
    float: right;
}

.card{
    
    background-color: blue;
    width: 30%;
    height: 40%;
    color: white;

}

