<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="./assets/style.css" type="text/css" />
		<title>Burgers</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		
</head>

	
	
	<div  class="content">
	<body>
		
		<img src="./assets/burger1.jpg" alt="burger">
		<img src="./assets/burger1.jpg" alt="burger">
		<img src="./assets/burger1.jpg" alt="burger">
		<img src="./assets/burger1.jpg" alt="burger">
		<img src="./assets/burger1.jpg" alt="burger">
		<img src="./assets/burger1.jpg" alt="burger">
		
		{{{ body }}}

		<img src="./assets/burger1.jpg" alt="burger">
		<img src="./assets/burger1.jpg" alt="burger">
		<img src="./assets/burger1.jpg" alt="burger">
		<img src="./assets/burger1.jpg" alt="burger">
		<img src="./assets/burger1.jpg" alt="burger">
		<img src="./assets/burger1.jpg" alt="burger">
	</body>
	</div>
</html>
