.navbar-brand{
  background-color: teal;
  color: white;
  margin:0px 0px 0px 60px;
  padding:
}
.links{
  text-align: right;
  margin: 0px 0px 0px 900px;
  

}

body{
  background-image: url(../images/concrete-texture.png);
}

.aboutme{
  background-color: white
}
h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #4aaaa5
}
.selfimage {
  transform: rotate(90deg);
  float: left;
  margin: 5px, 2px, 5px, 2px;
  padding: 70px;
}
img {
  width: 50%;
  height: 50%;
}

